#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  display: flex;
  justify-content: center; 
  align-items: center;
  align-content: center;
  background: rgb(151, 147, 147);
}
#container{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black; 
  margin: auto;
  padding: 100px;
  padding-top: 10px;
  box-shadow: 1em 1em 0.4em rgb(20, 20, 20) ;
}
